*{
    margin: 0px;
    padding: 0%;
}
.main{
    height: 130px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;

}
.image {
    height: 60px;
    width: 40%;
    /* background-color: blue; */
    background-image: url(dbl-01.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: -80px;
    margin-right: 60px;
    
}
.object{
    height: 60px;
    width: 60%;
    display: flex;
    /* background-color: brown; */
    margin-top: 40px;
    margin-left: 30px;
    color: black;
}
.object ul{
    display: flex;
        gap: 60px;
        margin-left: 10px;    
        
        
}
.object ul li{
    justify-content: space-evenly;
    height: 60px;
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(20, 20, 20);
    font-size: 18px;
}

h3{
    justify-content: space-evenly;
    height: 55px;
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    font-size: 18px;
    border-radius: 5px;
    background-color: #ebcbbb;
    padding: 2px;
    
}

h3:hover{
    background-color: #e9c0ac;
}
.object ul li a{
    color: black;
    color: gray;
    text-decoration: none;
    
}
h3 a{
    
    color: #ffffff;
    text-decoration: none;
    
}
.mid{
    height: 300px;
    width: 100%;
    background-image: url(service.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.column{
    height: 400px;
    width: 100%;
     /* background-color: rgb(22, 88, 146);  */
    display: flex;
    
}
.left_sec{
    height: 500px;
    width: 45%;
     /* background-color: chartreuse ;   */
    /* margin: auto; */
    font-size: 20px;
    font-family:serif;
    color: #56422f;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 20px;
    
}
.data1{
    height: 250px;
    width: 100%;
    /* background-color: aquamarine; */
     margin-top: 40px; 
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: left;
    
    
}
p{
    color: #56422f;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right_sec{
    
    height: 500px;
    width: 45%;
     /* background-color: chartreuse ;  */
    margin: auto;
    font-size: 20px;
    font-family:serif;
    color: #56422f;
    font-weight: lighter;
    margin-top: 20px;
}
.data2{
    
    height: 250px;
    width: 100%;
    /* background-color: aquamarine; */
    margin-top: 56px;
    justify-content: center;
    /* display: flex; */
    align-items: center;
    text-align: left;
    color: #9a8f79;
}
.data2 ul li{
    justify-content: space-evenly;
    height: 20px;
    width: 50%;
    /* display: flex; */
    margin-top: 20px;
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #9a8f79;
    font-size: 18px;
    /* list-style: none; */
}
.chat_button{
    height: 50px;
    width: 35%;
    background-color: #ebcbbb;
    margin-top: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
}
.chat_button:hover{
       background-color: #e9c0ac;
}
.chat_button a{
    text-decoration: none;
    color: white;
}
.last_sec_pic{
    height: 300px;
    width: 100%;
    background-image: url(last.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.footer-content{
    height: 50px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;

    
}
h4{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #56422f;
}
.lower_content{
    height: 150px;
    width: 100%;
        /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}
.lower_content ul li{
    height: 20px;
    width:100%;
    list-style: none;
    color: #9a8f79;
    font-size: 20px;
    flex: 1;
    text-align: center;
    padding-bottom: 5px;
    text-decoration:   underline;
    text-decoration-thickness: 1px; /* set thickness */
    font-family:'Times New Roman', Times, serif;
    

}
a{
    text-decoration: none;
    color: #9a8f79;   
}
.lower_content ul:nth-child(2){
    margin-right:7px;
    margin-left: -100px;

}
.copyright{
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.copyright h3{
    height: 30px;
    width: 50%;   
    margin: auto;
    margin-top:4px ;
    font-size: 17px;
    background-color: white;
    font-weight: lighter;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}