*{
    margin: 0px;
    padding: 0%;
}
.main{
    height: 130px;
    width: 100%;
    
     background-color:white; 
    display: flex;
    /* position:sticky;
    top: 0;
     */
    justify-content: space-between;
    position: fixed;
}
.image {
    height: 60px;
    width: 40%;
    /* background-color: blue; */
    background-image: url(dbl-01.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: -80px;
    margin-right: 60px;
    
}
.object{
    height: 60px;
    width: 60%;
    display: flex;
    /* background-color: brown; */
    margin-top: 40px;
    margin-left: 30px;
}
.object ul{
    display: flex;
        gap: 60px;
        margin-left: 10px;    
        
}
.object ul li{
    justify-content: space-evenly;
    height: 60px;
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    font-size: 18px;
}
.mid{
    height: 550px;
    width: 100%;
    background-image: url(DBL_Homepage-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
h3{justify-content: space-evenly;
    height: 55px;
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    font-size: 18px;
    border-radius: 5px;
    background-color: #ebcbbb;
    padding: 2px;
}

h3:hover{
    background-color: #e9c0ac;
}
.letter_sec{
    height: 600px;
    width: 100%;
    
    /* background-color: aqua; */
overflow: hidden;
background-color: rgba(242,232,225,255);
}
.one{
    height: 200px;
    width: 30%;
     /* border: 2px solid black;  */
   
}

.sec_sec{
    height: 130px;
    width: 100%;
     /* background-color: blue;  */
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    text-align: center;
    color: #9a8f79;
    gap: 10px;
}
.letter_sec h1{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
      /* background-color: chartreuse;   */
    margin-top: 70px;
    margin-bottom: 70px;
   
     /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
        font-family:'Times New Roman', Times, serif;
     font-size: 50px;
    font-weight: lighter;
    color:#56422f;
    margin-left: 30px;
    
}
h2{
    color: black;
    height: 60px;
    width: 30%;
    display: flex;
    color: #56422f;
    font-weight: lighter;
    
}
.title{
    height: 80px;
    /* width: 100%; background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 30px; margin-left: 30px;
}
.third_sec{
    height: 800px;
    width: 100%;
    background-color: rgb(245, 244, 244);
    position: relative;
    /* background-color: aqua; */
}
.third_sec h2{
    height: 50px;
    width: 100%;
    /* background-color: aquamarine; */
    margin-top: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
    color: #56422f;
    
}
.poster{
    height: 400px;
    width: 100%;
    position: absolute;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.first{
    height: 300px;
    width: 23%;
    /* border: 2px solid black; */
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(image-asset\ \(7\).jpeg);
 
}
.sec{
    height: 300px;
    width: 23%;
    /* border: 2px solid black; */
    background-image: url(image-asset.jpeg);
    background-position:center;
        background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: scroll;

   
}
.third{
    height: 300px;
    width: 23%;
    /* border: 2px solid black; */
    background-position:center;
    background-size: cover;
    background-image: url(image-asset\ \(2\).jpeg);
    background-repeat: no-repeat;
   
    overflow: hidden;
    

}
.four{
    height: 300px;
    width: 23%;
    /* border: 2px solid black; */
    background-position:center;
        background-size: cover;
    background-repeat: no-repeat;
    background-image: url(image-asset\ \(6\).jpeg);
    overflow: hidden;
    
}
.poster2{
    
    height: 400px;
    width: 100%;
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.five{
    height: 300px;
    width: 23%;
    /* border: 2px solid black; */
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(image-asset\ \(5\).jpeg);
}
.six{
    height: 300px;
    width: 23%;
    /* border: 2px solid black;      */
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(image-asset\ \(4\).jpeg);
}
.seven{
    height: 300px;
    width: 23%;
    /* border: 2px solid black; */
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(image-asset\ \(3\).jpeg);
}
.eight{
    height: 300px;
    width: 23%;
    /* border: 2px solid black; */
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(image-asset\ \(1\).jpeg);
}
footer{
    height: 300px;
    width: 100%;
     /* background-color: #56422f;  */
}
.footer-content{
    height: 50px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}
h4{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #56422f;
}
.lower_content{
    height: 150px;
    width: 100%;
        /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}
.lower_content ul li{
    height: 20px;
    width:100%;
    list-style: none;
    color: #9a8f79;
    font-size: 20px;
    flex: 1;
    text-align: center;
    padding-bottom: 5px;
    text-decoration:   underline;
    text-decoration-thickness: 1px; /* set thickness */
    font-family:'Times New Roman', Times, serif;
    

}
a{
    text-decoration: none;
    color: #9a8f79;   
}
.lower_content ul:nth-child(2){
    margin-right:7px;
    margin-left: -100px;

}
.copyright{
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.copyright h3{
    height: 30px;
    width: 50%;   
    margin: auto;
    margin-top:4px ;
    font-size: 17px;
    background-color: white;
    font-weight: lighter;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}